<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/authentication/sign-in">Sign In</a>
      <a href="/authentication/sign-up">Sign Up</a>
      {{!-- <a href="/authentication/sign-out">Sign out</a> --}}
      <a href="/main">Funny image</a>
      <a href="/private">Private access</a>
    </nav>
    {{{body}}}
  </body>
</html>
