<form action="" method="POST">
    
  <label for="name-input">Name</label>
  <input id="name-input" type="name" name="name" placeholder="Valid name">

  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password" placeholder="Strong Password">

  <button>Sign In</button>
</form>